<nav>
    <ul>
        <li>
            <a href="/">
                {{!-- Chequear por qué no anda! la ruta está bien. --}}
                <img src="../../public/Imagenes/logo-proyector.jpg" alt="Ir al incio">
            </a>
        </li>
        <li>
            <a href="/peliculas">Películas</a>
        </li>
        <li>
            <a href="/products">Products</a>
        </li>
        <li>
            <a href="/contact">Contactos</a>
        </li>
    </ul>
</nav>