<header class="header">
    <div class="logo">
        <a href="/index">
            <img class="isotipo" src="/imagenes/isotipos/red-isotipo.png" alt="NS">
        </a>
    </div>
    <nav class="nav">
        <ul>
            <li>
                <a href="/index">Inicio</a>
            </li>
            <li>
                <a href="/peliculas">Películas</a>
            </li>
            <li>
                <a href="/series">Series</a>
            </li>
            <li>
                <a href="/favoritos">Favoritos</a>
            </li>
            <li>
                <a href="/peliculas/nueva"> Ingresar ítem al Catálogo</a>
            </li>
            <li>
                <a href="/contacto" class="{{#if selected.contact}}selected{{/if}}">Contacto</a>
            </li>
        </ul>
    </nav>
</header>