<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Catalogo de Películas</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/script.js"></script>
</head>

<body>
    {{> navbar}}
    <section>
        {{{body}}}
    </section>
    <footer>
        <div>Copyright © 2019 Derechos reservados.</div>
    </footer>
</body>

</html>