<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Movie App</title>
    <link rel="stylesheet" href="/css/main-handlebars.css">
    {{!-- Normalize --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
</head>

<body>
    {{> navbar}}
    <section>
        {{{body}}}
    </section>
    <footer>
        <div>DFC firet. </div>
    </footer>
</body>

</html>