{{#if message}}
  <div class="success">{{message}}</div>
{{/if}}
<div>
  <a class="boton-rojo" href="/peliculas">Volver a Películas</a>
</div>

<h3>Crear una nueva Película</h3>
<form action="/peliculas/nueva" method="post">
  <div>
    <label for="titulo">Titulo</label>
    <input type="text" name="titulo" id="titulo" required>
  </div>
  <div>
    <label for="director">Director</label>
    <input type="text" name="director" id="director">
  </div>
  <div>
    <label for="titulosinespacio">Titulo sin espacio</label>
    <input type="text" name="titulosinespacio" id="titulosinespacio" required>
  </div> 
  <div>
    <label for="imagen">Imagen</label>
    <input type="text" name="imagen" id="imagen" required>
  </div>
  <input type="submit" value="Crear">
</form>