<h1>NFX - Pls</h1>
<h3>{{nombreDeSeccion}}</h3>

{{#each pelicula}}
<h2>
    <a href="/pelicula/{{@index}}">{{this.titulo}}</a>
</h2>
<ul>
    {{#each items}}
    <li>{{this}}</li>
    {{/each}}
</ul>
{{/each}}


