<h5>Este archivo es pelicula.handlebars para una vista individual</h5>


{{this.titulo}}

{{#if this.director}}
<h6> {{this.director}} </h6>
{{else}}
<h6> No Hay información del director</h6>
{{/if}}
