{{#if message}}
  <div class="success">{{message}}</div>
{{/if}}
<div>
  <a href="/products">volver a productos</a>
</div>
<h1>Crear un nuevo producto</h1>
<form action="/productos/nuevo" method="post">
  <div>
    <label for="nombre">Nombre</label>
    <input type="text" name="nombre" id="nombre" required>
  </div>
  <div>
    <label for="precio">Precio</label>
    <input type="text" name="precio" id="precio" required>
  </div>
  <div>
    <label for="stock">Stock</label>
    <input type="text" name="stock" id="stock" required>
  </div>
  <div>
    <label for="imagen">Imagen</label>
    <input type="text" name="imagen" id="imagen" required>
  </div>
  <input type="submit" value="Crear">
</form>