<h1>esto es registrar.handlebars</h1>



<div>
    <form action="/registrarusuario" method="post">
        <div>
            <h5>Usuario</h5>
            <input type="text" name="usuario" id="usuario" required>
        </div>
        <div>
            <h5>Email</h5>
            <input type="text" name="email" id="email" required>
        </div>
        <div>
            <h5>Contraseña</h5>
            <input type="text" name="contraseña" id="contraseña" required>
        </div>
        {{!-- <div>
            <h5>Avatar</h5>
            <input type="text" name="avatar" id="avatar">
        </div> --}}
        <div class="botoncrear"> <input type="submit" value="Crear">
    </form>
</div>