<h3>{{nombreDeSeccion}}</h3>

<h5>Este archivo es series.handlebars</h5>

{{#each series_}}
<div class="cuadrado-de-series">
  <span><a href="/series/{{@index}}">{{this.titulo}}</a> </span>
  <br />
  <img class="imagen" src="./imagenes/series/imagendeprueba.jpg" alt="img">
</div>
{{/each}}
