.text-input {
    box-sizing: border-box;
    font-size: 16px;
    width: 20%;
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;
}

.text-input-label {
    font-size: 16px;
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.button {
    border: none;
    /* Este color tiene que ser el mismo que la barra de navegación */
    background-color: rgba(247, 4, 4, 0.993);
    border: 3px solid black;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;
}

.button.login {
    margin-top: 10px;
}

.error-message {
    padding: 10px;
    margin-top: 10px;
    box-sizing: border-box;
    background-color: brown;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    width: 20%;
    display: none;
}

.centrado {
    /* margin: 0 auto;
    text-align:center; */
}